<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        
    </style>
</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <h1>{{message}}</h1>
        {% endfor %}
    {% endif %}

    
    {% if jobs %}
    <div>
        <h1>All Jobs</h1>
        <table border="2px" align="center" cellspacing="0" cellpadding="10px">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Job Type</th>
            <th>Recruiter</th>
            <th>Salary</th>
            <th>location</th>
            <th>vacancy</th>
            <th>deadline</th>
            <th>is_active</th>
            <th>skills_required</th>
            <th>created_at</th>
            <th>Applicants</th>
            <th>Actions</th>
        </tr>
        {% for job in jobs %}
        <tr>
            <td>{{job.title}}</td>
            <td>{{job.description}}</td>
            <td>{{job.category}}</td>
            <td>{{job.job_type}}</td>
            <td>{{job.recruiter}}</td>
            <td>{{job.salary}}</td>
            <td>{{job.location}}</td>
            <td>{{job.vacancy}}</td>
            <td>{{job.deadline}}</td>
            <td>{{job.is_active}}</td>
            <td>
                {% for skill in job.skills_required.all %}
                <span>{{skill}}</span>
                {% endfor %}
            </td>
            <td>{{job.created_at}}</td>
            <td><a href="{% url 'job-applicants' jid=job.id %}">view applicants</a></td>
            <td>
                <a href="{% url 'job-update' jid=job.id %}">Edit</a>
                <a href="{% url 'job-delete' jid=job.id %}">delete</a>
                
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% else %}
    <h1>No Job Right Now </h1>
    <h2>Create a New Job</h2>
    <a href="{% url 'create-job'%}">Create Job </a>
    {% endif %}
</body>
</html>